#container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 600px;
    background-color: blue;

  }
  
  #img {
    max-width: 50%;
    max-height:50%;
  }
  
  #text {
    font-size: 20px;
    padding-left: 20px;
    font: "Verdana";
  }

  #box {
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: beige;
  }