#container {
  display: flex;
  margin: auto;
}
  
#image {
  width: 225px;
  height: 350px;
}
  
#text {
  font-size: 20px;
  padding-left: 20px;
  font: "Verdana";
}

p {
  font-size: 20px;
  padding-left: 20px;
  font: "Verdana";
}

#box {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 200px;
  margin-right: 200px;
  background-color: beige;
}