<!DOCTYPE html>
<html>
<head>
<title>Gabriella Ang</title>
</head>
<body>

<h1>Gabriella Ang</h1>
<div>
    <p>Welcome to my website! My name is Gabriella Ang! I am a student at the University of California, Los Angeles studying Computer Science. Specificially, I am passionate about the intersection of computer science and other fields like biology, healthcare, and business. This website contains some of my projects and experiences.</p>
    <img src="/images/profile_pic.png" alt="HTML5 Icon" align="right" style="width:500;height:700px;">
</div>

</body>
</html>