.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    max-width: 960px;

  }
  
  img {
    max-width: 100%;
    max-height:100%;
  }
  
  .text {
    font-size: 20px;
    padding-left: 20px;
    font: "Verdana";
  }